.main_body {
    display: flex;
    position: relative;
    height: calc(100vh - 50px);
    /* background-color: white; */
    overflow-x: hidden;
    background: #18191A;
    overflow-y: auto;
}

.SidebarContainer {
    width: 25%;
    position: sticky;
    top: 0;
}

.HomeFeedContainer {
    width: 50%;
}